{% if graphite_host %}
LoadPlugin write_graphite

<Plugin write_graphite>
	<Node "{{ graphite_host }}">
		Host "{{ graphite_host }}"
		Port "2003"
		Protocol "tcp"
		LogSendErrors true
		Prefix "collectd-"
		StoreRates true
		AlwaysAppendDS false
		EscapeCharacter "_"
	</Node>
</Plugin>
{% endif %}
